{% extends 'index.html' %}

{% block areaTrabajo %}
<table class="table table-hover">
<thead>
  <tr>
    <th scope="col">Cedula</th>
    <th scope="col">Nombres</th>
    <th scope="col">Apellido paterno</th>
    <th scope="col">Apellido materno</th>
    <th scope="col">Actualizar</th>
    <th scope="col">Eliminar</th>
  </tr>
</thead>
<tbody>
  {% if alumnosRegistrados %}
    {% for alumno in alumnosRegistrados %}
    <tr>
      <td>{{alumno.cedula}}</td>
      <td>{{alumno.nombres}}</td>
      <td>{{alumno.apellido_paterno}}</td>
      <td>{{alumno.apellido_materno}}</td>
      <td><a href="{% url 'actualizarAlumno' id=alumno.id %}">Actualizar</a></td>
      <td><a href="{% url 'eliminarAlumno' id=alumno.id %}">Eliminar</a></td>
    </tr>
    {% endfor %}
  {% endif %}
</tbody>
</table>

{% endblock %}
