{% extends 'index.html' %}

{% block areaTrabajo %}
  <form action="{% url 'crearAlumno' %}" method="post" class="mt-4">
    {% csrf_token %}

    {% if formularioCrearAlumno.errors %}
      <div class="alert alert-error">
        <h4>Please fix the following errors</h4>
        <ul>
          {% for field in formularioCrearAlumno %}
            {% if field.errors %}
              {% for error in field.errors %}
                <li><a href="#id_{{ field.name }}" class="error">{{ error|escape }}</a></li>
              {% endfor %}
            {% endif %}
          {% endfor %}
        </ul>
        {% if form.non_field_errors %}
          {{ form.non_field_errors }}
        {% endif %}
      </div>
    {% endif %}

    {{formularioCrearAlumno.as_p}}
    <input type="submit" name="" value="Guardar" class="btn btn-info">
  </form>
{% endblock %}
